@media only screen and (max-width: 600px) {
  .standard-padding {
    padding: 10pt !important; }

  .content-container {
    padding: 0 !important; }

  #welcome-banner .search-container {
    margin-top: 70% !important; } }
@media (min-width: 1300px) {
  #welcome-banner {
    background-image: url("../images/img-bg@2x.jpg") !important; } }
@media (min-width: 2000px) {
  #welcome-banner {
    background-image: url("../images/img-bg@3x.jpg") !important; } }
html, body {
  height: 100%;
  font-family: 'Work Sans', sans-serif; }

button:focus, .custom-input-group input[type=text]:focus {
  outline: none;
  box-shadow: none; }

.container-fluid {
  padding: 0 !important;
  margin: 0 !important; }

.standard-padding {
  padding: 10pt 40pt; }

img {
  max-width: 100%; }

#welcome-banner {
  background-image: url("../images/img-bg.jpg");
  min-height: 350px;
  top: 0;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #welcome-banner .button-group .btn:last-child {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff; }
  #welcome-banner .search-container {
    margin-top: 30%; }

#main-nav {
  width: 100%; }

.navbar-nav {
  flex-direction: row-reverse !important; }
  .navbar-nav a.nav-link {
    color: #fff;
    text-decoration: none;
    padding-right: 15pt; }
    .navbar-nav a.nav-link:hover {
      text-decoration: none; }

.btn-custom-outline {
  position: relative;
  line-height: 29px;
  font-size: 14px;
  font-weight: normal;
  border-radius: 30px;
  text-transform: capitalize;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 4px 20px;
  transition: all 0.2s; }

.btn-custom-outline:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 20pt !important;
  padding-left: 20pt !important; }

*:focus {
  outline: none; }

.custom-input-group {
  border-bottom: 2pt solid #fff;
  padding-bottom: 12pt; }
  .custom-input-group input[type=text] {
    background: transparent;
    color: #fff;
    border: none;
    font-size: 20pt; }
    .custom-input-group input[type=text]:focus {
      outline: none; }
  .custom-input-group input::placeholder {
    color: #fff;
    font-size: 20pt; }
  .custom-input-group .input-group-append {
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    width: 70pt; }
    .custom-input-group .input-group-append .input-group-text {
      width: 100%;
      text-align: center;
      display: inline-block;
      border-radius: 30px;
      padding: 10pt;
      cursor: pointer; }

.content-container {
  padding: 50pt 0; }
  .content-container .card .title small {
    font-size: 12pt; }

.nav-pills li.nav-item {
  margin: 2pt; }
.nav-pills .nav-link {
  position: relative;
  line-height: 29px;
  font-weight: normal;
  border-radius: 30px;
  text-transform: capitalize;
  padding: 4px 20px;
  color: #000;
  font-size: 14px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5; }
.nav-pills .nav-link.active {
  color: #fff;
  font-size: 14px;
  background-color: #000;
  border: 1px solid #000; }

.ham-item {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0; }

.fixed-header {
  padding-top: 30pt;
  padding-bottom: 30pt;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  -ms-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -op-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -ms-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -op-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }
  .fixed-header a.nav-link {
    color: #000 !important;
    text-decoration: none;
    padding-right: 15pt; }
    .fixed-header a.nav-link:hover {
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
