@import "partials/colors"; //import colors
@import "partials/media"; //import media queries

html,body {
	height:100%; 
	font-family: 'Work Sans', sans-serif;
}
//override button and input shadow
button, .custom-input-group input[type=text] {
	&:focus {
		outline: none;
		box-shadow: none;
	}
}
.container-fluid {
	padding: 0 !important;
	margin: 0 !important;
}
.row {
	margin-right: auto !important;
	margin-left: auto !important;
}
.standard-padding {
	padding: 10pt 40pt;
}
img {
	max-width: 100%;
}
//first container on the page
#welcome-banner {
	background-image: url('../images/img-bg.jpg');
	min-height: 350px; 
	top: 0;
	color:white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.button-group {
		.btn:last-child {
			background-color: $primary-color;
			color: $secondary-color;
			border: 1px solid $secondary-color;
		}
	}
	.search-container {
		margin-top: 30%;
	}
}
//navigation
#main-nav {
	//position: absolute;
	width: 100%;
}	
.navbar-nav {
	flex-direction: row-reverse !important;
	a.nav-link {
		color: $secondary-color;
		text-decoration: none;
		padding-right: 15pt;
		&:hover {
			text-decoration: none;
		}
	}
}

.btn-custom-outline{
	position: relative;
    line-height: 29px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 30px;
    text-transform: capitalize;
    background-color: transparent;
    color: $secondary-color;
    border: 1px solid $secondary-color;
	padding: 4px 20px;
	transition: all 0.2s;
}
.btn-custom-outline:hover{ 
    background-color: $secondary-color;
    color: $primary-color;
    border: 1px solid $secondary-color;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 22pt !important;
    padding-left: 22pt !important;
}

.custom-input-group {
	border-bottom: 2pt solid $secondary-color;
	padding-bottom: 12pt;
	input[type=text] {
		background: transparent;
		color: $secondary-color;
		border: none;
		font-size: 20pt;
		&:focus {
			outline: none;
		}
	}
	
	input::placeholder {
		color: $secondary-color;
		font-size: 20pt;
	}
	.input-group-append {
		background-color: $secondary-color;
		color: $primary-color;
		border-radius: 30px;
		width: 70pt;
		.input-group-text {
			width: 100%;
			text-align: center;
			display: inline-block;
			border-radius: 30px;
			padding: 8pt;
			cursor: pointer;
		}
	}
}

.content-container {
	padding: 50pt 0;
	.card {
		img {
			width: 100%;
		}
		.title{
			font-weight: 800;
			small {
				font-size: 12pt;
				font-weight: bold;
			}
		}
	}
}
.nav-pills{
	li.nav-item {
		margin: 2pt;
	}
	.nav-link {
		position: relative;
		line-height: 29px;font-weight: normal;
		border-radius: 30px;
		text-transform: capitalize;
		padding: 4px 20px;
		color: $primary-color;
		font-size: 14px;
		background-color: $shade-color;
		border: 1px solid $shade-color;
	}
	.nav-link.active {
		color: $secondary-color;
		font-size: 14px;
		background-color: $primary-color;
		border: 1px solid $primary-color;
	}
}
//hamburger menu icon
.ham-item {
	width: 30px;
    height: 2px;
    background-color: $secondary-color;
    margin: 8px 0;
}

//map and pin div - image on image
.image-on-image {
	position: relative;
	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		img {
			width: 20pt;
		}
	}
}